/*=========================== Reset setting ==================*/
html {
    scroll-behavior: smooth;
}
body {
    font-family:  "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
    color:#2E2F42;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

img {
    display: block;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}


/*.container {
    max-width: 1158px;
	margin: 0px auto;
    padding: 0px 15px;
}*/

/* Phone screen */
.container {
    min-width: 320px;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 2px solid red;
    outline-offset: -2px;
}

/* Tablet screen */
@media screen and (min-width: 767.98px) {
    .container {
        min-width: 768px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
}

/* Desktop screen */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
    }
}

/*[class*="__container"]{
	max-width: 1158px;
	margin:0px auto;
    padding: 0px 15px;
}*/

/*===================== Header ===================*/
.header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    background-color: #fff;
    padding: 25px 0;
}

@media only screen and (max-width: 1157.98px) {
    .header {
        padding: 9px 0px;
    }
}

@media only screen and (max-width: 767.98px) {
    .header {
        padding: 17.5px 0px;
    }
}

.header__container {
    display: flex;
}
.header__menu {
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.header__logo {
    
    margin-right: 76px;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.03em;
    line-height: 1.17;
    text-transform: uppercase;
    color: #4d5ae5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo span {
    color: #2e2f42;
}
.logo:hover {
    color: #404bbf;
}
.logo:focus {
    color: #404bbf;
}

.menu-header__items {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    gap: 40px;
}

@media only screen and (max-width: 767.98px) {
    .menu-header__items {
        display: none;
    }
}

.menu-header__item {
    font-weight: 500;
    letter-spacing: 0.02em;
}

.menu-header__active {
    color: #404bbf;
}

.menu-header__active::after {
    position: absolute;
    content: '';
    bottom: -1px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    background-color: #404bbf;
    border-bottom: 4px solid #404BBF;
}

.menu-header__item a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 28px 0;
    position: relative;
}

.menu-header__link:hover {
    color: #404bbf;
}
.menu-header__link:focus {
    color: #404bbf;
}

.header-contacts__items {
    display: flex;
    gap: 40px;
    font-size: 16px;
}

@media only screen and (max-width: 767.98px) {
    .header-contacts__items {
        display: none;
    }
}

@media only screen and (max-width: 1157.98px) {
    .header-contacts__items {
        flex-direction: column;
        justify-content: center;
        font-size: 14px;
        gap: 12px;
    }
}


.header-contacts__item a:hover {
    color: #404bbf;
}
.header-contacts__item a:focus {
    color: #404bbf;
}

.menu-header__contacts {
    font-style: normal;
}

.header-contacts__item a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #434455;
    letter-spacing: 0.02em;
}

.menu-header__btn {
    display: none;
    min-width: 24px;
    min-height: 24px;
    border: none;
    background-color: transparent;
    padding: 0px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: auto;
}

.menu-toggle__icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 767.98px) {
    .menu-header__btn {
        display: block;
    }
}

/*=================================== MAIN ======================*/
main {
    width: 100%;
    margin: 0 auto;
}


/*============================Solution=====================*/
.solutions {
   
    background-color: #2e2f42;
    background-image: linear-gradient(
        to bottom, 
        rgba(46, 47, 66, 0.7), 
        rgba(46, 47, 66, 0.7)
        ), url(../images/bg_main_mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 72px 0px;
}

@media only screen and (min-width: 767.98px) {
    .solutions {
        background-image: linear-gradient(to bottom,
                    rgba(46, 47, 66, 0.7),
                    rgba(46, 47, 66, 0.7)), url(../images/bg_main_tab.jpg);
        padding: 112px 0;
    }
}

@media only screen and (min-width: 1157.98px) {
    .solutions {
        background-image: linear-gradient(to bottom,
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)), url(../images/bg_main.jpg);
        padding: 188px 0;
    }
}

.solutions__title {
    margin: 0 auto ;
    font-size: 56px;
    max-width: 496px;
    font-weight: 700;
    line-height: 1.07;
    color: #ffffff;
    letter-spacing: 0.02em;
}

@media only screen and (max-width: 767.98px) {
    .solutions__title {
        font-size: 36px;
        padding: 0 60px;
    }
}

.solutions__title:not(:last-child) {
    margin-bottom: 72px;
}

@media only screen and (min-width: 767.98px) {
    .solutions__title:not(:last-child) {
            margin-bottom: 36px;
        }
}

@media only screen and (min-width: 1157.98px) {
    .solutions__title:not(:last-child) {
        margin-bottom: 48px;
    }
}

.solution__btn {
    display: block;
    min-width: 169px;
    height: 56px;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.solution__btn:hover {
    background-color: #404BBF;
}
.solution__btn:focus {
    background-color: #404BBF;
}

/*=========== Tools=========*/

.tools__items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: left;
    padding: 120px 0px;
}

.tools__item {
    flex: 0 0 264px;
}
.tools__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.tools__item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
}
.tools__item-image:not(:last-child) {
    margin-bottom: 8px;
}

.image-item__svg {
    width: 64px;
    height: 64px;
}

.tools__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.tools__item-title:not(:last-child) {
    margin-bottom: 8px;
}
.tools__item-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/*======================= Team ==========================*/
.team {
    background-color: #F4F4FD;
    padding: 120px 0px;
}

.team__title {
font-size: 36px;
color: #2E2F42;
font-weight: 700;
line-height: 1.11; /* 111.111% */
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
}
.team__title:not(:last-child) {
    margin-bottom: 72px;
}

.team__item {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
}

.team__item-title:not(:last-child) {
    margin-bottom: 8px;
}
.team__items {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    text-align: center;
}
.team__item {
    background-color: #ffffff;
    width: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}

.team__item-wrapper {
    padding: 32px 0;
}

.team__item-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
    text-align: center;
}

.team__item-text:not(:last-child) {
    margin-bottom: 8px;
}

.team__item-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.team__item-icon {
    width: 40px;
    height: 40px;
}

.team__icon-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__icon-link:hover {
    background-color: #404bbf;
}

.team__icon-link:focus {
    background-color: #404bbf;
}

.team-icon__svg {
    fill: #f4f4fd;
}


/*================================ Portfolio ====================*/
.portfolio {
    padding: 120px 0px;
}

.portfolio__title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.portfolio__title:not(:last-child) {
    margin-bottom: 72px;
}

.portfolio__items {
    display: flex;
    row-gap: 48px;
    column-gap: 24px;
    flex-wrap: wrap;
}

.portfolio__item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio__item:focus {
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}

.portfolio__item-image {
    position: relative;
    overflow: hidden;
}

.portfolio__item-image img {
    display: block;
}

.overlay {
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms ease-in-out;
    background-color: #4d5ae5;
    color: #f4f4fd;
    padding: 40px 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__item:hover .overlay {
    transform: translateY(0);
}

.portfolio__item-wrapper {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio__item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: left;
    color: #2e2f42;
}

.portfolio__item-title:not(:last-child) {
    margin-bottom: 8px;
}

.portfolio__item-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

/*============================ footer ======================*/
.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer__container {
    display: flex;
    justify-content: start;
    align-items: baseline;
}

.footer__logo-block {
    max-width: 264px;
    text-align: left;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-right: 120px;
}
.footer__logo {
    display: inline-block;
}
.footer__logo:not(:last-child) {
    margin-bottom: 16px;
}
.footer__logo span {
    color: #f4f4fd;
}
.footer__text {
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.footer__social {
    margin-right: 80px;
}

.footer__social-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    text-align: left;
}

.footer__social-title:not(:last-child) {
    margin-bottom: 16px;
}

.footer__social-icons {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 16px;
}

.footer__social-icon {
    height: 40px;
    width: 40px;
}

.footer__social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover {
    background-color: #31d0aa;
}

.footer__social-link:focus {
    background-color: #31d0aa;
}

/*=========================== footer-form=====================*/

.footer__title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
}

.footer__title:not(:last-child) {
    margin-bottom: 16px;
}

.form-footer__input {
    width: 264px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: 1px solid #fff;
    padding: 8px 16px;
    background: inherit;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.form-footer__input::placeholder {
    color: #fff;
}

.form-footer__input:focus {
    border: 1px solid #4D5AE5;
}

.form-footer__icon-send {
    color: #fff;
    margin-left: 16px;
}

.footer__form-footer {
    display: flex;
    gap: 24px;
    align-items: center;
}

.form-footer__button-email {
    background-color: #4D5AE5;
    border: none;
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-weight: 500;
    border-radius: 4px;
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 0.04em;
    line-height: 1.5;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    min-width: 165px;
}

.form-footer__button-email:hover {
    background-color: #404BBF;
}

.form-footer__icon-send {
    
}

/*=================================== popup ====================*/


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /*opacity: 0;*/
    /*visibility: hidden;*/
}

.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.popup__body {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}



.popup__content {
    
}

.popup__close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__close:hover {
    background-color: #404bbf;
    border: none;
}

.popup__close:focus {
    background-color: #404bbf;
    border: none;
}

.popup__close-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__close:hover > .popup__close-icon {
    fill: #ffffff;
}

.popup__close:focus > .popup__close-icon {
    fill: #ffffff;
}

.popup__title {
    
    color: #2E2F42;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.popup__title:not(:last-child) {
    margin-bottom: 16px;
}

.popup__item:not(:last-child) {
    margin-bottom: 8px;
}

.popup__label {
    display: block;
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
    margin-bottom: 4px;
}

.input-block {
    position: relative;
}

.popup__label:not(:last-child) {
    
}

.popup__input-name {
    width: 100%;
    height: 40px;
    font-size: 19px;
    padding: 8px 16px 8px 16px;
    padding-left: 38px;
    border-radius: 4px;
    border: 1px solid  rgba(46, 47, 66, 0.40);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    outline: transparent;
}

.popup__input-name:focus {
    border: 1px solid #4D5AE5;
    fill: #4D5AE5;
}

.popup__input-name:focus > .icon-user {
    width: 50px;
}

.popup__user-icon {
    display: flex;
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#user-name {
    top: 12px;
}

.popup__user-icon {
    fill: #2E2F42;
}

.popup__input-name:focus + .popup__user-icon{
    fill: #4D5AE5;
}

.input-block {
    display: block;
}

.popup-item__comment:not(:last-child) {
    margin-bottom: 16px;
}

.popup__textarea {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__textarea:focus {
    border-color: #4D5AE5;
}

.popup__textarea:focus::placeholder {
    color: #4D5AE5;
}

.popup__rules {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 8px;
    font-family: Roboto;
    font-weight: 400;
}

.popup__rules:not(:last-child) {
    margin-bottom: 24px;
}

.popup__rules-checkbox:checked + .popup__rules-text > .rules-checkbox {
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}

.popup__rules-text {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.popup__rules a {
    color: #4D5AE5;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.33;
    letter-spacing: 0.04em;
    text-decoration-line: underline;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.popup__rules-checkbox {
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.popup__rules-link {
    color: #4d5ae5;
}

.popup__item {
    width: 100%;
    margin: 0 auto;
}

.popup__item-button {
    display: block;
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    border-radius: 4px;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    margin: 0 auto;
}

.popup__item-button:hover {
    cursor: pointer;
    background-color: #404BBF;
}

/*-------------------- Mobile Menu---------------*/

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    padding: 72px 16px 40px;
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%; 
    background-color: #fff;
} 

.menu-container.is-open {
    transform: translateX(0);
}

.mobile-menu-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    min-width: 24px;
    min-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: #E7E9FC;
    padding: 0;
}

.mobile-menu-icon {}

.mobile-menu-list {
    margin-bottom: auto;
}

.mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
}

.mobile-menu-link {
    font-size: 36px;
    color: #2E2F42;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.mobile-menu-link.current {
    color: #404BBF;
}

.link {}

.mobile-contacts {
    margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
    margin-bottom: 24px;
}

.mobile-contacts-link {
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.mobile-contacts-link.accent {
    color: #4D5AE5;
}

.mobile-socials {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mobile-socials-link {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4D5AE5;
    border-radius: 50%;
}

.mobile-socials-icon {
}
